# Importação das Bibliotecas

In [16]:
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
from composicao_histograma_boxplot import composicao_histograma_boxplot
from composicao_histograma_boxplot import calcular_estatisticas

ModuleNotFoundError: No module named 'composicao_histograma_boxplot'

# Leitura e Anális da Base

In [2]:
# Leitura da planilha 
DADOS = r"C:\Users\rodri\OneDrive\Sincronização\Documentos\GitHub\hypothesis_test_human_development_index\dados\idhm_educacao_teste_hipoteses.xlsx"
df = pd.read_excel(DADOS)

# Visualizar as primeiras linhas da tabela
df.head()

   IDHM_Educacao Nordeste  IDHM_Educacao Sul  IDHM_Educacao Norte
0                   0.698              0.702                0.658
1                   0.679              0.768                0.673
2                   0.695              0.712                0.749
3                   0.668              0.800                0.638
4                   0.694              0.768                0.658

In [3]:
# Visualizar as últimas linhas da tabela
df.tail()

      IDHM_Educacao Nordeste  IDHM_Educacao Sul  IDHM_Educacao Norte
1789                   0.391                NaN                  NaN
1790                   0.390                NaN                  NaN
1791                   0.488                NaN                  NaN
1792                   0.502                NaN                  NaN
1793                   0.459                NaN                  NaN

In [4]:
# Conferir os tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1794 entries, 0 to 1793
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDHM_Educacao Nordeste  1794 non-null   float64
 1   IDHM_Educacao Sul       1189 non-null   float64
 2   IDHM_Educacao Norte     449 non-null    float64
dtypes: float64(3)
memory usage: 42.2 KB

# Identificação do Problema

In [13]:
numero_observacoes = df[['IDHM_Educacao Nordeste', 'IDHM_Educacao Sul', 'IDHM_Educacao Norte']].count()
media = df[['IDHM_Educacao Nordeste', 'IDHM_Educacao Sul', 'IDHM_Educacao Norte']].mean().round(2)
desvio_padrao = df[['IDHM_Educacao Nordeste', 'IDHM_Educacao Sul', 'IDHM_Educacao Norte']].std().round(3)

print("Número de Observações")
print(numero_observacoes)
print("------------")
print("Comparação das médias amostrais")
print(media)
print("------------")
print("Comparação dos desvios amostrais")
print(desvio_padrao)

Número de Observações
IDHM_Educacao Nordeste    1794
IDHM_Educacao Sul         1189
IDHM_Educacao Norte        449
dtype: int64
------------
Comparação das médias amostrais
IDHM_Educacao Nordeste    0.49
IDHM_Educacao Sul         0.61
IDHM_Educacao Norte       0.49
dtype: float64
------------
Comparação dos desvios amostrais
IDHM_Educacao Nordeste    0.066
IDHM_Educacao Sul         0.065
IDHM_Educacao Norte       0.091
dtype: float64

In [14]:
composicao_histograma_boxplot(df, 'IDHM_Educacao Nordeste', titulo="Distribuição das amostras de IDHM da Reguão Nordeste")

NameError: name 'composicao_histograma_boxplot' is not defined